# Name of your application. Used to uniquely configure containers.
service: mcpfirebaseauthserver

# Name of the container image.
image: muthuishere/myregistryproject/mcpfirebaseauthserver

# Deploy to these servers.
servers:
  web:
    - <%= ENV["WEB_SERVER_IP"] %>

  # job:
  #   hosts:
  #     - 192.168.0.1
  #   cmd: bin/jobs

# Enable SSL auto certification via Let's Encrypt (and allow for multiple apps on one server).
# If using something like Cloudflare, it is recommended to set encryption mode
# in Cloudflare's SSL/TLS setting to "Full" to enable end-to-end encryption.
proxy:
  ssl: false
  host: mcpfirebaseauthserver.muthuishere.site
  # kamal-proxy connects to your container over port 80, use `app_port` to specify a different port.
  app_port: <%= ENV["AUTH_SERVER_PORT"] %>
  healthcheck:
    path: /oauth2/health
    interval: 25
    timeout: 10


# Credentials for your image host.
registry:
  # Specify the registry server, if you're not using Docker Hub
  server: <%= ENV["REGISTRY_SERVER"] %>
  username: <%= ENV["REGISTRY_USERNAME"] %>

  # Always use an access token rather than real password (pulled from .kamal/secrets).
  password: <%= ENV["GITLAB_REGISTRY_ACCESS_TOKEN"] %>

# Configure builder setup.
builder:
  arch: amd64
# Inject ENV variables into containers (secrets come from .kamal/secrets).
#
env:
  clear:
    AUTH_SERVER_PORT: <%= ENV["AUTH_SERVER_PORT"] %>
  secret:
    - MCP_AUTH_SERVER_URL
    - FIREBASE_PROJECT_ID
    - FIREBASE_API_KEY
    - FIREBASE_SERVICE_ACCOUNT_KEY

# Aliases are triggered with "bin/kamal <alias>". You can overwrite arguments on invocation:
# "bin/kamal logs -r job" will tail logs from the first server in the job section.
#
# aliases:
#   shell: app exec --interactive --reuse "bash"

# Use a different ssh user than root
#
# ssh:
#   user: app

# Use a persistent storage volume.
#
# volumes:
#   - "app_storage:/app/storage"

# Bridge fingerprinted assets, like JS and CSS, between versions to avoid
# hitting 404 on in-flight requests. Combines all files from new and old
# version inside the asset_path.
#
# asset_path: /app/public/assets

# Configure rolling deploys by setting a wait time between batches of restarts.
#
# boot:
#   limit: 10 # Can also specify as a percentage of total hosts, such as "25%"
#   wait: 2

# Use accessory services (secrets come from .kamal/secrets).
#
# accessories:
#   db:
#     image: mysql:8.0
#     host: 192.168.0.2
#     port: 3306
#     env:
#       clear:
#         MYSQL_ROOT_HOST: '%'
#       secret:
#         - MYSQL_ROOT_PASSWORD
#     files:
#       - config/mysql/production.cnf:/etc/mysql/my.cnf
#       - db/production.sql:/docker-entrypoint-initdb.d/setup.sql
#     directories:
#       - data:/var/lib/mysql
#   redis:
#     image: redis:7.0
#     host: 192.168.0.2
#     port: 6379
#     directories:
#       - data:/data
